<% layout('layout') -%>
<div class="survey-render-container">
    <div class="row">
        <div class="survey">

            <h4><%=surveyId%></h4>
            <form name="surveyName" method="POST" class="form-horizontal" action="/submit">
                <input type="hidden" name="email" value="<%=email%>"/>
                <input type="hidden" name="deptId" value="<%=deptId%>"/>
                
                <!-- email: req.body.email,
                deptId: req.body.deptID,
                surveyId: surveyId,
                surveyData: data -->

                <%surveyData.forEach(
                    (data, index) => {
                        %>
                            <div class="form-group">
                                <% if (data.QUESTION_TYPE === 1) { %>
                                    <label class="question-type">
                                        <%=index+1%>) <%=data.QUESTION_STRING%>
                                    </label>
                                    <%data.ANSWER_SET.forEach(
                                        answerSet => {
                                            %>
                                                <div class="radio">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" name="<%=data.id%>" type="radio" value="<%=answerSet.ans%>"/>
                                                        <%=answerSet.ans%>
                                                    </label>
                                                </div>
                                            <%
                                        }
                                    )%>                               
                                <% } else if (data.QUESTION_TYPE === 2) { %>
                                    <label class="question-type">
                                        <%=index+1%>) <%=data.QUESTION_STRING%>
                                    </label>
                                    <%data.ANSWER_SET.forEach(
                                        answerSet => {
                                            %>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="<%=data.id%>" value="<%=answerSet.ans%>"/>
                                                        <%=answerSet.ans%>
                                                    </label>
                                                </div>
                                            <%
                                        }
                                    )%>   
                                <% } else if (data.QUESTION_TYPE === 3) { %>
                                    <label class="question-type">
                                        <%=index+1%>) <%=data.QUESTION_STRING%>
                                    </label>
                                    <table class="table">
                                        <thead class="thead">
                                            <tr>
                                                <th></th> <!-- This is left empty to maintain spacing-->
                                                <%data.answerKey[0].heading.forEach(
                                                    heading => {
                                                        %>
                                                            <th class="center-cell"><%=heading.head%></th>
                                                        <%
                                                    }
                                                )%>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%data.answerKey[1].ansMatrix.forEach(
                                                (matrixSet, subIndex) => {
                                                    %>
                                                        <tr>
                                                        <!-- 
                                                            Went with a standard for loop since the original data structure needed to skip the first two elements present.
                                                            This is no longer the case, so this should eventually be refactored to a for-each
                                                        -->
                                                        <% for(var sub = 0; sub<matrixSet.set.length; sub++){ %>
                                                            <!-- The first element in each set is the label of the matrix row. It's the description for the scale-->
                                                            <% if (sub<1) { %>
                                                                <td><%=matrixSet.set[sub].ans%></td>
                                                            <% } else { %>
                                                                <!---->
                                                                <td class="center-cell"><input type="radio" name="<%=data.id%>_<%=subIndex%>" value="<%=matrixSet.set[sub].ans%>"/></td>
                                                            <% } %>
                                                        <% } %>
                                                        </tr>
                                                    <%
                                                }
                                            )%>
                                        </tbody>
                                    </table>
                                <% } else { %>
                                    <p><%=JSON.stringify(data)%></p>
                                <% } %>
                            </div>
                        <%
                    }
                )%>
                
                <div class="form-group">
                    <button id="submitSurvey" class="btn btn-success">Submit Survey
                </div>
            </form>
        </div>
    </div>
</div>