<% layout('layout') -%>
<div class="survey-render-container">
    <div class="row">
        <div class="survey">

            <h4><%=surveyId%></h4>
            <h4><%=deptId%></h4>
            <form name="surveyName" method="POST" class="form-horizontal" action="/submit">
                <input type="hidden" name="email" value="<%=email%>"/>
                <input type="hidden" name="deptId" value="<%=deptId%>"/>
                
                <!-- email: req.body.email,
                deptId: req.body.deptID,
                surveyId: surveyId,
                surveyData: data -->

                <%surveyData.forEach(
                    (data, index) => {
                        %>
                            <div class="form-group">
                                <% if (data.QUESTION_TYPE === 1) { %>
                                    <label class="question-type">
                                        <%=index+1%>) <%=data.QUESTION_STRING%>
                                    </label>
                                    <%data.ANSWER_SET.forEach(
                                        answerSet => {
                                            %>
                                                <div class="radio">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" name="<%=data.QUESTION_ID%>" type="radio" value="<%=answerSet.ans%>"/>
                                                        <%=answerSet.ans%>
                                                    </label>
                                                </div>
                                            <%
                                        }
                                    )%>                               
                                <% } else if (data.QUESTION_TYPE === 2) { %>
                                    <label class="question-type">
                                        <%=index+1%>) <%=data.QUESTION_STRING%>
                                    </label>
                                    <%data.ANSWER_SET.forEach(
                                        answerSet => {
                                            %>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="<%=data.QUESTION_ID%>" value="<%=answerSet.ans%>"/>
                                                        <%=answerSet.ans%>
                                                    </label>
                                                </div>
                                            <%
                                        }
                                    )%>   
                                <% } %>
                            </div>
                        <%
                    }
                )%>
                
                <div class="form-group">
                    <button id="submitSurvey" class="btn btn-success">Submit Survey
                </div>
            </form>
        </div>
    </div>
</div>